@model IEnumerable<WebApplication_CadastroCarros.Models.Cadastro>

@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Novo cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Potencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
